body {
    background-color: #9DB2BF;
}



.center {
   
    width: 550px;
    margin:16px auto;
    align-self: center;
    text-align: center;
}

.iconAlign {
    display: flex;
    justify-content: center;
    align-items:center;
}

ul {
    display: inline-block;
    text-align: left;
    width: 350px;
  }

  ol {
    display: inline-block;
    text-align: left;
    width: 350px;
  }

.title {
    margin: 50px 0px 30px 0px;
}

.bigFont {
    font-size: 18px;
}

.icon-link {
    margin: 0px 10px 50px 10px;
    width: 84px;
    height: 84px;
    background-color: #6B6ECC;
    background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
    padding: 8px;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
}

.icon-link-no-margin {
    margin: 20px 0px;
    width: 84px;
    height: 84px;
    background-color: #6B6ECC;
    background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
    padding: 8px;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
}

.icon-link:hover, .icon-link-no-margin:hover {

    transform: scale(0.95);
}

.block-dis {
    display: block;
    margin: 16px auto;
}


#home-link {
    margin: 0px 10px 10px 10px;
    width: 170px;
}

.home-block {
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.bigger-pad {
    padding: 20px;
}

.recipe-img {
    border-radius: 15px;
    width: 350px;
    /* border: #2b566e solid 5px; */
    /* 45deg, #04051dea 0%, #2b566e 100% */
    background: linear-gradient(white, white) padding-box,
              linear-gradient(45deg, #2b566e 0%, #2b566e 100% ) border-box;
  border-radius: 15px;
  border: 4px solid transparent;
}